a
{
	text-align: center;
	text-decoration: none;
	color: white;
}
h1
{
	text-decoration: underline;
	text-align:center;
	color: green;
}
a
{
	text-align:center;
}
#but
{
	text-align:center;
}

h5
(
	color: black;
}

p
(
	color: black;
}

